extends layout

block content
  h1 Internship Dev Answer
  h2 Passawit Riewthong
  br
  #container
    p: #[a(href="https://github.com/dekdew/Internship_Dev_Answer/blob/main/SortingAcronyms.py", target="_blank") [1] Sorting Acronyms]
    p: #[a(href="https://github.com/dekdew/Internship_Dev_Answer/blob/main/FloatingPrime.py", target="_blank") [2] Floating Prime]
    p: #[a(href="https://github.com/dekdew/Internship_Dev_Answer/blob/main/DigitHangman.py", target="_blank") [3] Digit Hangman]
    p: #[a(href="https://github.com/dekdew/Internship_Dev_Answer/blob/main/BasicWebCrawler/utils/Crawler.js", target="_blank") [4.1] Extract Data from Source HTML]
    p: #[a(href="https://github.com/dekdew/Internship_Dev_Answer/blob/main/BasicWebCrawler/routes/companies.js", target="_blank") [4.2] Extract Data from Source HTML] | #[a(href="/companies", , target="_blank") view API]